@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *::-webkit-scrollbar {
    display: none;
  }
  html, body {
    @apply font-custom h-full;
  }
}

@layer components {
  #__next {
    @apply h-full w-full;
  }
  .wrap {
    @apply flex items-center justify-center;
  }
}

@layer utilities {
  .keep-all {
    word-break: keep-all;
  }
}

p>a, span>a {
  padding: 2px 0px 1px;
  background-image: linear-gradient(transparent 0%, transparent calc(50% - 9px), rgba(118, 255, 118, 0.35) calc(50% - 9px), rgba(118, 255, 118, 0.35) 100%);
  background-size: 100% 200%;
  background-position: 0px 0px;
}

@font-face {
  font-family: 'IBM';
  src: url('/fonts/IBMPlexSans-Regular.woff2') format('woff2');
  font-weight: normal;
}

@font-face {
  font-family: 'NanumSquareR';
  src: url('/fonts/NanumSquareR.woff2') format('woff2');
  font-weight: normal;
}

@font-face {
  font-family: 'Gowun';
  src: url('/fonts/GowunDodum.woff2') format('woff2');
  font-weight: normal;
}

@font-face {
  font-family: 'Consolas';
  src: url('/fonts/Consolasligaturizedv2.woff2') format('woff2');
  font-weight: normal;
}