@tailwind base;
@layer base {
  *::-webkit-scrollbar {
    display: none;
  }
  html, body {
    @apply font-custom h-full;
  }
  #__next {
    @apply h-full w-full;
  }
}

@tailwind components;
@tailwind utilities;


:root {
  --light-background: #fff;
  --dark-background: #000;
}
html {
  --background: var(--light-background);
}
html.dark {
  --background: var(--dark-background);
}

@font-face {
  font-family: 'IBM';
  src: url('/fonts/IBMPlexSans-Regular.woff2') format('woff2');
  font-weight: normal;
}

@font-face {
  font-family: 'Gowun';
  src: url('/fonts/GowunDodum.woff2') format('woff2');
  font-weight: normal;
}