@tailwind base;
@layer base {
  *::-webkit-scrollbar {
    display: none;
  }
  html,
  body {
    @apply h-full scroll-p-8 scroll-smooth font-custom;
  }
  blockquote > p {
    @apply text-emerald-600;
  }
  h1 {
    @apply text-3xl;
  }
  h2 {
    @apply mb-5 text-2xl;
  }
  h3 {
    @apply pb-1 text-lg;
  }
  h4 {
    @apply text-md;
  }
  h5 {
    @apply text-base;
  }
  ul {
    @apply list-disc pl-4;
  }
  ol {
    @apply list-decimal pl-4;
  }
  li {
    @apply leading-7;
  }
}

@tailwind components;
@layer components {
  #__next {
    @apply h-full w-full;
  }
  .wrap {
    @apply flex items-center justify-center;
  }
}

@tailwind utilities;
@layer utilities {
  .keep-all {
    word-break: keep-all;
  }
  .align-text-20 {
    vertical-align: -20%;
  }
}

/*
note: 폰트설정
영어-한글-모노 */
@font-face {
  font-family: "Baloo2";
  src: url("/fonts/Baloo2.woff2") format("woff2");
  font-weight: normal;
  font-display: block;
}
@font-face {
  font-family: "Arita";
  src: url("/fonts/Arita.woff2") format("woff2");
  font-weight: normal;
  font-display: block;
}
@font-face {
  font-family: "Consolas";
  src: url("/fonts/Consolasligaturizedv2.woff2") format("woff2");
  font-weight: normal;
  font-display: block;
}

/*
note: Code Hike
Scroll 전체화면 설정 */
.ch-code-browser-content > div,
.ch-code-browser-content > div > span {
  @apply h-6 font-mono;
}
/* Scroll 제목&설명탭 설정 */
.ch-scrollycoding-step-content p {
  @apply text-sm leading-6;
}
/* 기본화면 설정 */
.ch-code-scroll-content span {
  @apply text-mono;
}
