@tailwind base;
@layer base {
  *::-webkit-scrollbar {
    display: none;
  }
  html,
  body {
    @apply h-full scroll-p-8 scroll-smooth font-custom;
  }
  /* blockquote {
    @apply text-emerald-600;
  } */
  a {
    @apply underline decoration-rose-400/80 decoration-solid underline-offset-8 hover:decoration-wavy;
  }
  h1 {
    @apply text-3xl;
  }
  h2 {
    @apply mb-5 text-2xl;
  }
  h3 {
    @apply py-4 text-lg font-bold text-waterMelon dark:text-cyan-200/90;
  }
  h4 {
    @apply pt-4 pb-2 text-md font-bold text-emerald-600;
  }
  h5 {
    @apply text-base;
  }
  ul {
    @apply list-disc pt-1 pl-6;
  }
  ol {
    @apply list-decimal pt-1 pl-6;
  }
}

@tailwind components;
@layer components {
  #__next {
    @apply h-full w-full;
  }
  .wrap {
    @apply flex items-center justify-center;
  }
}

@tailwind utilities;
@layer utilities {
  .keep-all {
    word-break: keep-all;
  }
  .align-text-20 {
    vertical-align: -20%;
  }
}

/*
폰트설정:
영어-한글-모노 */
@font-face {
  font-family: "IBMPlexSans";
  src: url("/fonts/IBMPlexSans-Regular.woff2") format("woff2");
  font-weight: normal;
  font-display: block;
}
@font-face {
  font-family: "NanumSquareR";
  src: url("/fonts/NanumSquareR.woff2") format("woff2");
  font-weight: normal;
  font-display: block;
}
@font-face {
  font-family: "IBMPlexMono";
  src: url("/fonts/IBMPlexMono-Regular.woff2") format("woff2");
  font-weight: normal;
  font-display: block;
}

/*
note: Code Hike
Scroll 전체화면 설정 */
.ch-code-browser-content > div,
.ch-code-browser-content > div > span {
  @apply h-6 font-mono;
}
/* Scroll 제목&설명탭 설정 */
.ch-scrollycoding-step-content p {
  @apply text-sm leading-6;
}
/* 기본화면 설정 */
.ch-code-scroll-content span {
  @apply text-mono;
}
